<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div>
    <div class=" w-1/2 pt-4 mr-auto ml-auto pb-5">

        <div class>
            <form
                class="ml-[10vw] mr-[10vw] border-2 p-2 rounded-lg drop-shadow-xl"
                [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="pb-4">
                    <h3
                        class="text-2xl text-green-800 text-center font-semibold ">Register</h3>
                </div>
                <!-- <div class="pb-5">
                    <img src="assets/img/login.png" alt="" class="h-[10vw] w-[10vw] mr-auto ml-auto drop-shadow-xl">
                </div> -->
                <div class="pb-2 lg:flex flex-row ">
                    <div class="w-1/2">
                        <label for="Name" class="pb-2 pl-5 font-medium">First
                            Name</label><br>
                        <input type="text"
                            class="border-solid border-2 w-full   h-10 rounded-lg text-center drop-shadow-xl"
                            formControlName="username"
                            placeholder="Enter your First Name"
                            required="required" value
                            name="username">
                            <!-- <div class="err" *ngIf="submitted && f.username.errors" >
                                <div *ngIf="f.username.errors.required"></div>

                            </div> -->

                             
                    </div>
                    <div class="w-1/2">
                        <label for="l_Name" class="pb-2 pl-5 font-medium">Last
                            Name</label><br>
                        <input type="text"
                            class="border-solid border-2 w-full   h-10 rounded-lg text-center drop-shadow-xl"
                            formControlName="l_name"
                            placeholder="Enter your Last Name"
                            required="required" value>
                    </div>
                </div>
                <div class="pb-2">
                    <label for="Email1" class="pb-2 pl-5 font-medium">Email
                        address</label><br>
                    <input type="email"
                        class="border-solid border-2 w-full  h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="email" placeholder="Enter your Email"
                        required="required" value>
                </div>
                <div class="pb-2">
                    <label for="Password" class="pb-2 pl-5 font-medium">Password</label><br>
                    <input [type]="password"
                        name="password"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="password"
                        placeholder="Enter your Password" required="required"
                        value>
                       
                </div>
                <div class>
                    <label for="c_Password" class="pb-2 pl-5 font-medium">Confirm Password</label><br>
                    <input [type]="password"
                        name="C_password"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="C_password"
                        placeholder="Enter your Confirm Password"
                        required="required"
                        value>

                </div>
                <div class=" text-end pr-5 pb-1">
                    <button type="button" (click)="onClick1()"
                        value="show_password">
                        <i class="fa fa-eye " aria-hidden="true" *ngIf="!show"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true"
                            *ngIf="show"></i>
                    </button>
                </div>
                <div class="pb-2">
                    <label for="address" class="pb-2 pl-5 font-medium">Address</label><br>
                    <input type="text"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="address"
                        placeholder="Enter your Address" required="required"
                        value>

                </div>
                <div class="pb-4">
                    <label for="tp" class="pb-2 pl-5 font-medium">Phone number</label><br>
                    <input type="text"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="Tp_number"
                        placeholder="Enter your Phone Number"
                        required="required" value>

                </div>
                <!-- <div class="pb-4">
                    <label for="tp" class="pb-2 pl-5 font-medium">Role</label><br>
                    <select  name="role" id="gender" class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl" >
                        <option value="type1">Type1</option>
                        <option value="type2">Type2</option>
                        <option value="type3">Type3</option>

                    </select>

                </div> -->

                <div class="pb-3 lg:flex flex-row">
                    <div class="w-1/2">
                        <button type="submit"
                            class="font-medium border-solid border-2 bg-green-800   text-white h-12 rounded-full w-full drop-shadow-xl hover:bg-green-500"
                            value="register">Register</button>
                    </div>
                    <div class="w-1/2">
                        <input type="reset" value="Clear"
                            class="font-medium border-solid border-2 bg-red-800 text-white h-12 rounded-full w-full drop-shadow-xl hover:bg-red-500">
                    </div>

                </div>
                <div class="pl-5">
                    <p class="font-semibold">Login now<a routerLink="/"
                            class="text-red-700"> click</a></p>
                </div>
                <div class>
                    <p class="text-slate-400 text-end">&copy; 2023 Maxim IT</p>
                </div>

            </form>

        </div>

    </div>

</div>