<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div>
    <div class=" w-1/2 pt-4 mr-auto ml-auto pb-5">

        <div class>
            <form
                class="ml-[10vw] mr-[10vw] border-2 p-2 rounded-lg drop-shadow-xl"
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit()">

                <div class="pb-4">
                    <h3
                        class="text-2xl text-green-800 text-center font-semibold ">Register</h3>
                </div>

                <div class="pb-2 lg:flex flex-row ">
                    <div class="w-1/2">
                        <label for="Name" class="pb-2 pl-5 font-medium">First
                            Name<span class="text-danger"> *</span></label><br>

                        <input type="text"
                            class="border-solid border-2 w-full   h-10 rounded-lg text-center drop-shadow-xl"
                            formControlName="firstname"
                            placeholder="Enter your First Name"
                            required="required" value
                            name="firstname" id="firstname"
                            [(ngModel)]="register.firstname">

                        <div class="form-text  text-danger"
                            *ngIf="Lastname.errors?.['required']  && (Lastname.touched|| Lastname.dirty)">
                            First Name is Required.
                        </div>

                    </div>
                    <div class="w-1/2">
                        <label for="Lastname" class="pb-2 pl-5 font-medium">Last
                            Name<span class="text-danger"> *</span></label><br>

                        <input type="text"
                            class="border-solid border-2 w-full   h-10 rounded-lg text-center drop-shadow-xl"
                            formControlName="lastname"
                            placeholder="Enter your Last Name"
                            required="required" value
                            name="lastname" id="lastname"
                            [(ngModel)]="register.lastname">
                        <div class="form-text  text-danger"
                            *ngIf="Firstname.errors?.['required']  && (Firstname.touched|| Firstname.dirty)">
                            Lasat Name is Required.
                        </div>

                    </div>
                </div>
                <div class="pb-2">
                    <label for="Nic" class="pb-2 pl-5 font-medium">NIC
                        <span class="text-danger"> *</span></label><br>
                    <input type="text"
                        class="border-solid border-2 w-full  h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="nic" placeholder="Enter your Nic"
                        required="required" value name="nic" id="nic"
                        [(ngModel)]="register.nic">
                    <div class="form-text  text-danger"
                        *ngIf="NIC.errors?.['required'] && (NIC.touched|| NIC.dirty)">
                        Nic is Required.
                    </div>
                    <div class="form-text  text-danger"
                        *ngIf="NIC.errors?.['pattern'] && (NIC.touched|| NIC.dirty)">
                        Nic is Invalid.
                    </div>

                </div>
                <div class="pb-2">
                    <label for="Email1" class="pb-2 pl-5 font-medium">Email
                        address<span class="text-danger"> *</span></label><br>
                    <input type="email"
                        class="border-solid border-2 w-full  h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="email" placeholder="Enter your Email"
                        required="required" value name="email"
                        id="email" [(ngModel)]="register.email">
                    <div class="form-text  text-danger"
                        *ngIf="Email.errors?.['email']  &&  (Email.touched|| Email.dirty)">
                        Email is Required.
                    </div>
                </div>
                <div class="pb-2">
                    <label for="Password" class="pb-2 pl-5 font-medium">Password<span
                            class="text-danger">
                            *</span></label><br>
                    <input [type]="password" name="password"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="password"
                        placeholder="Enter your Password" required="required"
                        value>

                </div>
                <div class>
                    <label for="c_Password" class="pb-2 pl-5 font-medium">Confirm
                        Password<span class="text-danger"> *</span></label><br>
                    <input [type]="password" name="C_password"
                        (input)="matchPassword()"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="C_password"
                        placeholder="Enter your Confirm Password"
                        required="required"
                        value>
                    <div class="text-red-700" *ngIf="passwordError">
                        Password did not match
                    </div>

                </div>

                <!-- <div class="text-red-700" *ngIf="this.registerForm.value.password!=this.registerForm.value.C_password">
                    password did not match
                </div> -->
                <div class=" text-end pr-5 pb-1">
                    <button type="button" (click)="onClick1()"
                        value="show_password">
                        <i class="fa fa-eye " aria-hidden="true" *ngIf="!show"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true"
                            *ngIf="show"></i>
                    </button>
                </div>
                <div class="pb-2">
                    <label for="address" class="pb-2 pl-5 font-medium">Address<span
                            class="text-danger">
                            *</span></label><br>
                    <input type="text"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="address"
                        placeholder="Enter your Address" required="required"
                        value
                        name="address" id="address"
                        [(ngModel)]="register.address">
                    <div class="form-text  text-danger"
                        *ngIf="Address.errors?.['required']  &&  (Address.touched|| Address.dirty)">
                        Address is Required.
                    </div>

                </div>
                <div class="pb-4">
                    <label for="tp" class="pb-2 pl-5 font-medium">Phone number<span
                            class="text-danger">
                            *</span></label><br>
                    <input type="text"
                        class="border-solid border-2 w-full h-10 rounded-lg text-center drop-shadow-xl"
                        formControlName="tpNumber"
                        placeholder="Enter your Phone Number"
                        required="required" value
                        name="tpNumber" id="tpNumber"
                        [(ngModel)]="register.tpNumber" maxlength="10"
                        minlength="10">
                    <div class="form-text  text-danger"
                        *ngIf="TpNumber.errors?.['required']  &&  (TpNumber.touched|| TpNumber.dirty)">
                        Phone number is Required.
                    </div>
                    <div class="form-text  text-danger"
                        *ngIf="TpNumber.errors?.['pattern'] && (TpNumber.touched|| TpNumber.dirty)">
                        Phone number is Invalid.
                    </div>
                    <div class="form-text  text-danger"
                        *ngIf="TpNumber.errors?.['minlength'] && (TpNumber.touched|| TpNumber.dirty)">
                        Phone number is Invalid.
                    </div>

                </div>

                <div class="pb-3 lg:flex flex-row">
                    <div class="w-1/2">
                        <button type="submit"
                            class="font-medium border-solid border-2 bg-green-800   text-white h-12 rounded-full w-full drop-shadow-xl hover:bg-green-500"
                            value="register">Register</button>
                    </div>
                    <div class="w-1/2">
                        <input type="reset" value="Clear"
                            class="font-medium border-solid border-2 bg-red-800 text-white h-12 rounded-full w-full drop-shadow-xl hover:bg-red-500">
                    </div>

                </div>
                <div class="pl-5">
                    <p class="font-semibold">Login now<a routerLink="/"
                            class="text-red-700"> click</a></p>
                </div>
                <div class>
                    <p class="text-slate-400 text-end">&copy; 2023 Maxim IT</p>
                </div>

            </form>

        </div>

    </div>

</div>